.card {
    border-radius: 10px;
    background: var(--white);
    display: flex;
    max-width: 550px;
    overflow: hidden;
    height: 430px;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        height: initial;
    }

    &__image--box {
        flex-basis: 250px;

        @media only screen and (max-width: 600px) {
            width: 100%;
            flex-basis: 100%;
            height: 200px;
        }

    }

    &__image {
        display: block;
        // width: 100% !important;
        height: 100%;
        object-fit: cover;


        &--desktop {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            @media only screen and (max-width: 600px) {
                display: none;
            }
        }

        &--mobile {
            width: 100%;
            display: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            @media only screen and (max-width: 600px) {
                display: block;
            }
        }
    }

    &__details {
        // flex-grow: 1;
        max-height: 100%;
        padding: calc(var(--span-s) + 4px);
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-transform: uppercase;
        font-family: var(--Montserrat);
        font-style: normal;
        font-weight: var(--weight-md);
        font-size: calc(var(--size-xs) - 2px);
        line-height: 15px;
        color: var(--dark-grayish-blue);
        letter-spacing: 5px;
    }

    &__heading {
        margin-top: var(--span-s);
        font-family: var(--Fraunces);
        font-style: normal;
        font-weight: var(--weight-xlg);
        font-size: calc(var(--size-l) + 3px);
        line-height: 32px;
        color: var(--very-dark-blue);
        letter-spacing: -1px;

        &--desktop {
            @media only screen and (max-width: 600px) {
                display: none;
            }
        }

        &--mobile {
            display: none;

            @media only screen and (max-width: 600px) {
                display: block;
            }
        }

        span {
            display: block;
        }
    }

    &__paragraph {
        margin-top: var(--span-s);
        font-family: var(--Montserrat);
        font-style: normal;
        font-weight: var(--weight-xlg);
        font-size: calc(var(--size-s) - 1px);
        line-height: 19px;
        color: var(--dark-grayish-blue);
        padding-right: var(--span-m);
    }

    &__price {
        margin-top: var(--span-m);
        display: flex;
        gap: var(--span-m);
        align-items: center;

        &--current {
            font-family: var(--Fraunces);
            font-style: normal;
            font-weight: var(--weight-xlg);
            font-size: calc(var(--size-l) + 3px);
            line-height: 32px;
            color: var(--dark-cyan);
        }

        &--previous {
            text-decoration: line-through;
            font-family: var(--Fraunces);
            font-style: normal;
            font-weight: var(--weight-md);
            font-size: calc(var(--size-xs));
            line-height: 15px;
            color: var(--dark-grayish-blue);
        }
    }

    &__button {
        background: none;
        outline: none;
        margin-top: var(--span-s);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: calc(var(--span-xs) + 2px) var(--span-m);
        text-align: center;
        background: var(--dark-cyan);
        border: 1px solid var(--dark-cyan);
        border-radius: 5px;
        gap: var(--span-xs);

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 16px;
                height: 16px;
            }
        }


        .text {
            font-family: var(--Montserrat);
            font-style: normal;
            font-weight: var(--weight-xlg);
            font-size: calc(var(--size-s));
            line-height: 19px;
            color: var(--white);
        }
    }
}